<!doctype html>
<html th:replace="base :: html" lang="fr" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
    <main class="py-5">
        <div class="container">
            <h1 class="mb-5 text-center">Création d'un project</h1>
            <form action="" method="post">
                <div class="row">
                    <div class="ny-2 mx-auto col-4">


                        <button class="btn btn-primary">Envoyer</button>
                        <a th:href="@{music-ecom/admin/projects}" type="submit" class="btn btn-secondary">Retour</a>
                    </div>
                </div>

            </form>



        </div>
    </main>
</div>


</html>
